<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flattomate">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP"></uses-permission>

    <!-- For handling of images from camera/gallery -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.flattomate.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LOGIN ACTIVITY -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flattomate.HomeActivity" />
        </activity>

        <!-- REGISTER ACTIVITY -->
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_activity_signin"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flattomate.HomeActivity" />
        </activity>

        <!-- DASHBOARD ACTIVITY -->
        <activity
            android:name=".DashboardActivity"
            android:label="@string/dashboard_title" />

        <!-- PROFILE ACTIVITY -->
        <activity
            android:name=".Profile.ProfileActivity"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flattomate.HomeActivity" />
        </activity>
        <activity
            android:name=".Profile.ShowImageProfile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_show_image_profile"
            android:parentActivityName=".Profile.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flattomate.Profile.ProfileActivity" />

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <!-- EDIT_PROFILE ACTIVITY -->
        <activity
            android:name=".Profile.EditProfileActivity"
            android:label="@string/profile_edit_title"
            android:parentActivityName=".Profile.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flattomate.Profile.ProfileActivity" />
        </activity>

        <!-- ANNOUNCEMENT ACTIVITY -->
        <activity
            android:name=".Announcement.AnnouncementActivity"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flattomate.DashboardActivity" />
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />

        <!-- GOOGLE MAPS -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Announcement.CreateAnnouncementActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flattomate.DashboardActivity" />
        </activity>

        <service
            android:name=".FetchAddressIntentService"
            android:exported="false" />
    </application>

</manifest>